        <p>
          <b><%= t("activerecord.attributes.people.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @person.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.people.tipe", :default => t("activerecord.labels.tipe", :default => "Tipo")) %>:</b>
          <%= @person.tipe %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.people.address", :default => t("activerecord.labels.address", :default => "Address")) %>:</b>
          <%= @person.address %>
        </p>

