    <h3><a href="#accounts"><%= t("activerecord.models.accounts") %></a></h3>
    <div class="inner">
      <table class="table" id="accounts_table">
        <th class="first">ID</th>
        <th>Caixa</th>
        <th>Tipo</th>
        <th>Data do vencimento</th>
        <th>Valor</th>
        <th>Status</th>
        <th class="last"></th>
        <% @person.find_account_month_year(@month, @year).each do |account| %>
          <tr class='<%= cycle("odd", "even") %>'>
            <td><%= link_to  account.id , [@person, account] %></td>
            <td><%= account.box.name %></td>
            <td><%= account.kind %></td>
            <td><%= account.maturity_date %></td>
            <td><%= account.price %></td>
            <td><%= account.situation.name if account.situation %></td>
            <td>
              <%= link_to "#{t("web-app-theme.show", :default => "Show")}", [@person, account] %> |
              <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_person_account_path(@person, account) %> |
              <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", [@person, account], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="pagination">
        <a rel="next" class="prev_page" href="<%= "#{person_show_date_path(@person, @year.to_i - 1, 12)}" %>">« 12/<%= @year.to_i - 1%></a>
        <% (1..12).each do |i| %>
            <%= "<span class='current'>#{i.to_s}</span>" if @month.to_i == i %>
            <%= link_to i.to_s, person_show_date_path(@person, @year, i) if @month.to_i != i %>
        <% end %>
        <a rel="next" class="next_page" href="<%= "#{person_show_date_path(@person, @year.to_i + 1, 1)}" %>" %>01/<%= @year.to_i + 1%> »</a>
      </div>
      <p />
    </div>

