  <div class="columns wat-cf">
    <div class="column left">
      <div class="group">
        <%= f.label :name, t("activerecord.attributes.contract.name", :default => "Name"), :class => :label %>
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
      <div class="group">
        <%= f.label :date_registry, t("activerecord.attributes.contract.date_registry", :default => "Date registry"), :class => :label %>
        <%= f.text_field :date_registry, :class => 'text_field' %>
      </div>
      <div class="group">
        <%= f.label :document, t("activerecord.attributes.contract.document", :default => "Document"), :class => :label %>
        <%= f.text_field :document, :class => 'text_field' %>
      </div>
    </div>
    <div class="column right">
      <div class="group">
        <%= f.label :account_box_id, t("activerecord.attributes.account.box_id", :default => "Box Id"), :class => :label %>
        <%= f.select :account_box_id, Box.all.collect{|b| [b.name,b.id]}, :include_blank => true %>
      </div>
      <div class="group">
        <%= f.label :bank_account_id, t("activerecord.attributes.account.bank_account_id", :default => "Bank Account Id"), :class => :label %>
        <%= f.select :bank_account_id, BankAccount.all.collect{|b| [b.name,b.id]}, :include_blank => true %>
      </div>
      <div class="group">
        <%= f.label :account_kind, t("activerecord.attributes.account.kind", :default => "Kind"), :class => :label %>
        <%= f.select :account_kind, Account::KINDS, :include_blank => true %>
      </div>
      <div class="group">
        <%= f.label :account_date, t("activerecord.attributes.contract.account_date", :default => "Account Date"), :class => :label %>
        <%= f.text_field :account_date, :class => 'text_field' %>
      </div>
      <div class="group">
        <%= f.label :account_quantity, t("activerecord.attributes.contract.account_quantity", :default => "Account Quantity"), :class => :label %>
        <%= f.text_field :account_quantity, :class => 'text_field' %>
      </div>
      <div class="group">
        <%= f.label :account_price, t("activerecord.attributes.contract.account_price", :default => "Account Price"), :class => :label %>
        <%= f.text_field :account_price, :class => 'text_field' %>
      </div>
    </div>
  </div>

<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", @person, :class => "button" %>
</div>

