    <h3><a href="#accounts"><%= t("activerecord.models.accounts") %></a></h3>
    <div class="inner">
      <table class="table" id="accounts_table">
        <th class="first">ID</th>
        <th>Caixa</th>
        <th>Tipo</th>
        <th>Data do vencimento</th>
        <th>Valor</th>
        <th>Status</th>
        <% @contract.accounts.sort.each do |account| %>
          <tr class='<%= cycle("odd", "even") %>'>
            <td><%= link_to  account.id , [@person, account] %></td>
            <td><%= account.box.name %></td>
            <td><%= account.kind %></td>
            <td><%= account.maturity_date %></td>
            <td><%= account.price %></td>
            <td><%= account.situation.name if account.situation %></td>
          </tr>
        <% end %>
      </table>
      <p />
    </div>

