    <h3><a href="#accounts"><%= t("activerecord.models.accounts") %></a></h3>
    <div class="inner">
      <table class="table" id="accounts_table">
        <th class="first">ID</th>
        <th>Cliente / Fornecedor</th>
        <th>Data do vencimento</th>
        <th>Valor do documento</th>
        <th>Valor pago</th>
        <th>Status</th>
        <th class="last">&nbsp;</th>
        <% payment_sum = 0 %>
        <% @box.find_account_month_year(@month, @year).each do |account| %>
          <% payment_sum = payment_sum - account.price  if account.kind == "a pagar" %>
          <% payment_sum = payment_sum + account.price  if account.kind == "a receber" %>
          <tr class='<%= cycle("odd", "even") %>'>
            <td><%= link_to  account.id , box_edit_account_path(@box, account) %></td>
            <td><%= account.person.name %></td>
            <td><%= account.payment_date %></td>
            <td style="<%= "color: red;" if account.kind == "a pagar" %>"><%= account.price %></td>
            <td style="<%= "color: red;" if account.kind == "a pagar" %>"><%= account.payment_price %></td>
            <td><%= account.situation.name if account.situation %></td>
            <td class="last">
              <%= link_to "#{t("web-app-theme.show", :default => "Show")}", box_account_path(@box, account) %> |
              <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", box_edit_account_path(@box, account) %>
            </td>
          </tr>
        <% end %>
        <tr class='<%= cycle("odd", "even") %>'>
          <td>&nbsp;</td>
          <td>Saldo do final</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><%= payment_sum %></td>
          <td>&nbsp;</td>
          <td class="last">&nbsp;</td>
        </tr>
      </table>
      <div class="pagination">
        <a rel="next" class="prev_page" href="<%= "#{box_show_date_path(@box, @year.to_i - 1, 12)}" %>">« 12/<%= @year.to_i - 1%></a>
        <% (1..12).each do |i| %>
            <%= "<span class='current'>#{i.to_s}</span>" if @month.to_i == i %>
            <%= link_to i.to_s, box_show_date_path(@box, @year, i) if @month.to_i != i %>
        <% end %>
        <a rel="next" class="next_page" href="<%= "#{box_show_date_path(@box, @year.to_i + 1, 1)}" %>">01/<%= @year.to_i + 1%> »</a>
      </div>
    </div>

