      <table class="table" id="accounts_table">
        <th class="first">ID</th>
        <th>Cliente / Fornecedor</th>
        <th>Tipo</th>
        <th>Data do vencimento</th>
        <th>Valor</th>
        <th>Status</th>
        <th class="last">&nbsp;</th>
        <% @box.accounts.each do |account| %>
          <tr class='<%= cycle("odd", "even") %>'>
            <td><%= link_to  account.id , edit_box_account_path(@box, account) %></td>
            <td><%= account.person.name %></td>
            <td><%= account.kind %></td>
            <td><%= account.maturity_date %></td>
            <td><%= account.price %></td>
            <td><%= account.situation.name if account.situation %></td>
            <td>
              <%= link_to "#{t("web-app-theme.show", :default => "Show")}", box_account_path(@box, account) %> |
              <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_box_account_path(@box, account) %>
            </td>
          </tr>
        <% end %>
      </table>

