<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Caixa #{@box.name}", @box %></li>
      <li class="last active"><%= link_to "Alterar Conta #{@account.id}", "#" %></li>
    </ul>
  </div>
    <div class="content">
      <div class="inner">

      <% form_for :account, @account, :url => edit_box_account_path(@account), :html => { :class => :form } do |f| -%>
        <%= f.error_messages %>
        <div class="columns wat-cf">
          <div class="column left">
            <%= render(:partial => "accounts/details_show") %>
          </div>
          <div class="column right">
            <div class="group">
              <%= f.label :situation_id, t("activerecord.attributes.account.situation_id", :default => "Situation Id"), :class => :label %>
              <%= f.select :situation_id, Situation.all.collect{|s| [s.name,s.id]}, :include_blank => true %>
            </div>
            <div class="group">
              <%= f.label :payment_date, t("activerecord.attributes.account.payment_date", :default => "Payment Date"), :class => :label %>
              <%= f.text_field :payment_date, :class => 'text_field' %>
            </div>
            <div class="group">
              <%= f.label :payment_price, t("activerecord.attributes.account.payment_price", :default => "Payment Price"), :class => :label %>
              <%= f.text_field :payment_price, :class => 'text_field' %>
            </div>
          </div>
        </div>
        
        <div class="group navform wat-cf">
          <button class="button" type="submit">
            <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
          </button>
          <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", @box, :class => "button" %>
        </div>
        
      <% end %>

        <p />

      </div>
    </div>
  </div>

  <% content_for :sidebar, render(:partial => 'sidebar_item', :locals => {:model => "account", :menu_visible => false }) -%>

