<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Caixa #{@box.name}", @box %></li>
      <li class="last active"><%= link_to "Conta #{@account.id}", "#" %></li>
    </ul>
  </div>
    <div class="content">
      <div class="inner">
        <%= render(:partial => "accounts/details_show") %>

        <div class="wat-cf">
          <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", box_edit_account_path(@account.box, @account), :class => "button" %>
          <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", [@account.person, @account], :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
        </div>

        <p />

      </div>
    </div>
  </div>

  <% content_for :sidebar, render(:partial => 'sidebar_item') -%>

