
        <p>
          <b><%= t("activerecord.attributes.bank_account.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @bank_account.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.bank_account.opening_balance", :default => t("activerecord.labels.opening_balance", :default => "Opening balance")) %>:</b>
          <%= @bank_account.opening_balance %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.bank_account.opening_balance_date", :default => t("activerecord.labels.opening_balance_date", :default => "Opening balance date")) %>:</b>
          <%= @bank_account.opening_balance_date %>
        </p>

