    <% opening_balance = @bank_account.opening_balance %>
    <% opening_payment = @bank_account.opening_balance %>
    <h3><a href="#accounts"><%= t("activerecord.models.accounts") %></a></h3>
    <div class="inner">
      <table class="table" id="accounts_table">
        <th class="first">ID</th>
        <th></th>
        <th>Caixa</th>
        <th>Data do vencimento</th>
        <th>Valor do documento</th>
        <th>Valor pago</th>
        <th>Saldo Estimado</th>
        <th class="last">Saldo Realizado</th>
        <tr class='<%= cycle("odd", "even") %>'>
          <td></td>
          <td>Saldo Anterior</td>
          <td></td>
          <td><%= @bank_account.opening_balance_date.strftime("%d/%m/%Y") %></td>
          <td><%= opening_balance %></td>
          <td></td>
          <td><%= opening_balance %></td>
          <td class="last"><%= opening_balance %></td>
        </tr>
        <% @bank_account.find_account_month_year(@month, @year).each do |account| %>
          <% opening_balance = opening_balance - account.price if account.kind == "a pagar" %>
          <% opening_balance = opening_balance + account.price if account.kind == "a receber" %>
          <% opening_payment = opening_payment - account.payment_price if account.kind == "a pagar" && account.payment_price %>
          <% opening_payment = opening_payment + account.payment_price if account.kind == "a receber" && account.payment_price %>
          <tr class='<%= cycle("odd", "even") %>'>
            <td><%= link_to account.id, [account.box, account] %></td>
            <td></td>
            <td><%= link_to account.box.name, [account.box] %></td>
            <td><%= account.payment_date.strftime("%d/%m/%Y") %></td>
            <td style="<%= "color: red;" if account.kind == "a pagar" %>"><%= account.price %></td>
            <td style="<%= "color: red;" if account.kind == "a pagar" %>"><%= account.payment_price %></td>
            <td><%= opening_balance %></td>
            <td class="last"><%= opening_payment %></td>
          </tr>
        <% end %>
        <tr class='<%= cycle("odd", "even") %>'>
          <td></td>
          <td>Saldo do Período</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= opening_balance %></td>
          <td class="last"><%= opening_payment %></td>
        </tr>
      </table>
      <div class="pagination">
        <a rel="next" class="prev_page" href="<%= bank_account_show_date_path(@bank_account, @year.to_i - 1, 12) %>">« 12/<%= @year.to_i - 1%></a>
        <% (1..12).each do |i| %>
            <%= "<span class='current'>#{i.to_s}</span>" if @month.to_i == i %>
            <%= link_to i.to_s, bank_account_show_date_path(@bank_account, @year, i) if @month.to_i != i %>
        <% end %>
        <a rel="next" class="next_page" href="<%= bank_account_show_date_path(@bank_account, @year.to_i + 1, 1) %>">01/<%= @year.to_i + 1%> »</a>
      </div>
    </div>

