<% opening_balance = eval("@#{model}").price_sum(@month, @year) %>
<% opening_payment = eval("@#{model}").payment_sum(@month, @year) %>
<h3><a href="#accounts"><%= t("activerecord.models.accounts") %></a></h3>
<div class="inner">
  <table class="table" id="accounts_table">
    <th class="first">ID</th>
    <th></th>
    <th>Data do vencimento</th>
    <th>Valor do documento</th>
    <th>Valor pago</th>
    <th>Saldo Estimado</th>
    <th>Saldo Realizado</th>
    <th class="last">&nbsp;</th>
    <tr class='<%= cycle("odd", "even") %>'>
      <td></td>
      <td>Saldo Anterior</td>
      <td><%= "#{@month}/1/#{@year}".to_date %></td>
      <td></td>
      <td></td>
      <td><%= opening_balance %></td>
      <td><%= opening_payment %></td>
      <td class="last">&nbsp;</td>
    </tr>
    <% eval("@#{model}").find_account_month_year(@month, @year).each do |account| %>
      <% opening_balance = opening_balance - account.price if account.kind == "a pagar" %>
      <% opening_balance = opening_balance + account.price if account.kind == "a receber" %>
      <% opening_payment = opening_payment - account.payment_price if account.kind == "a pagar" && account.payment_price %>
      <% opening_payment = opening_payment + account.payment_price if account.kind == "a receber" && account.payment_price %>
      <tr class='<%= cycle("odd", "even") %>'>
        <td><%= link_to account.id, [eval("@#{model}"), account] %></td>
        <td></td>
        <td><%= account.payment_date %></td>
        <td style="<%= "color: red;" if account.kind == "a pagar" %>"><%= account.price %></td>
        <td style="<%= "color: red;" if account.kind == "a pagar" %>"><%= account.payment_price %></td>
        <td><%= opening_balance %></td>
        <td><%= opening_payment %></td>
        <td class="last">
          <%= link_to "#{t("web-app-theme.show", :default => "Show")}", [eval("@#{model}"), account] %> |
          <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", send("#{model}_edit_account_path", eval("@#{model}"), account) %> |
          <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", send("#{model}_delete_account_path", eval("@#{model}"), account), :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
        </td>
      </tr>
    <% end %>
    <tr class='<%= cycle("odd", "even") %>'>
      <td></td>
      <td>Saldo do Período</td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= opening_balance %></td>
      <td><%= opening_payment %></td>
      <td class="last">&nbsp;</td>
    </tr>
  </table>
  <div class="pagination">
    <a rel="next" class="prev_page" href="<%= send("#{model}_show_date_path", eval("@#{model}"), @year.to_i - 1, 12) %>">« 12/<%= @year.to_i - 1%></a>
    <% (1..12).each do |i| %>
        <%= "<span class='current'>#{i.to_s}</span>" if @month.to_i == i %>
        <%= link_to i.to_s, send("#{model}_show_date_path", eval("@#{model}"), @year, i) if @month.to_i != i %>
    <% end %>
    <a rel="next" class="next_page" href="<%= send("#{model}_show_date_path", eval("@#{model}"), @year.to_i + 1, 1) %>">01/<%= @year.to_i + 1%> »</a>
  </div>
</div>

