  <p>
    <b><%= t("activerecord.attributes.account.person_id", :default => "Person Id") %>:</b>
      <%= link_to @account.person.name, @account.person %>
  </p>

  <% if @account.contract %>
    <p>
      <b><%= t("activerecord.attributes.account.contract_id", :default => "Contract Id") %>:</b>
        <%= link_to @account.contract.name, [@account.person, @account.contract] %>
    </p>
  <% end %>

  <p>
    <b><%= t("activerecord.attributes.account.bank_account_id", :default => "Bank Account Id") %>:</b>
      <%= link_to @account.bank_account.name, @account.bank_account %>
  </p>

  <p>
    <b><%= t("activerecord.attributes.account.box_id", :default => "Box Id") %>:</b>
      <%= @account.box.name %>
  </p>

  <p>
    <b><%= t("activerecord.attributes.account.kind", :default => t("activerecord.labels.kind", :default => "Kind")) %>:</b>
    <%= @account.kind %>
  </p>

  <p>
    <b><%= t("activerecord.attributes.account.maturity_date", :default => t("activerecord.labels.maturity_date", :default => "Maturity Date")) %>:</b>
    <%= @account.maturity_date %>
  </p>

  <p>
    <b><%= t("activerecord.attributes.account.price", :default => t("activerecord.labels.price", :default => "Price")) %>:</b>
    <%= @account.price %>
  </p>

