<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", people_path  %></li>
      <li><%= link_to "#{@person.name}", @person  %></li>
      <li class="active"><%= link_to "Nova conta", new_person_account_path(@person) %></li>
    </ul>
  </div>
  <div class="content">
    <p />
    <div class="inner">
      <% form_for :account, :url => person_accounts_path(@person), :html => { :class => :form } do |f| -%>
        <%= f.error_messages %>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'people/people_item_sidebar') -%>

